.heroSection {
    background-image: url('/specialized-care-images/hero-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    height: 100vh;
  }

  .overlay {
    position: relative;
  }

  .heroSection .overlay::after {
    background-color: rgba(65,105,79,.8);
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    mix-blend-mode: multiply;
    width: 100%;
    height: 1500px;
    overflow: hidden;
  }

  @media (min-width: 1000px) {
    .heroSection .overlay::after {
      position: absolute;
      right: 600px;
      left: auto;
      width: 100vw;
      height: 1500px;
      position: absolute;
      content: '';
      top: 50%;
      mix-blend-mode: multiply;
      transform: translate(0,-30%) skew(-20deg);
    }
  }

  .textShadow {
    text-shadow: 0px 1px 2px rgba(0,0,0,0.4);
  }