@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

:has(> .containerize) {
  container-type: inline-size;
}

:has(> .parent-relative) {
  position: relative;
}

:has(> .parent-flex) {
  display: flex;
}

*html {
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
